<div class="grid">
  <% images.each do |image| %>
    <div class="grid-item">
      <img alt="<%= image.description %>" src="<%= image.src %>"/>
      <% unless depth == 1 %>
        <a class="grid-item-details" href="<%= link_to(depth, image.make, image.model) %>" title="Browse all the <%= image.model %> images.">
          <div><%= image.make %></div>
          <div><%= image.model %></div>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
